<script src="/js/home.js"></script>
<div class="container">
    <br>
    {{!-- <h1>Wordpress External Auth App</h1> --}}
    <div class="well">
        <h1 class="login-title">You are currently signed in as: 
            <i class="fa fa-user" aria-hidden="true"></i>
            <strong><span id="user_display_name"></span></strong><a id="signout" style="padding-left:4px" href="#">(Sign out)</a>
        </h1>
    </div>
</div>